<div class="card text-center">

    <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(255,255,255,0.5)), url('<%= cl_image_path cocktail.photo.path  %>');">
        <%= link_to "", cocktail_path(cocktail), :class => "card-link" %>
        <div class="card-category"></div>
        <div class="card-description">
        <h3> <%= cocktail.name %> </h3>
        </div>

      </div>


</div>
