/* -------------------------------------
 * Utilities classes
 * These are examples of utilities classes
 * Feel free to change them and create your own
 * ------------------------------------- */

// Paddings
.padded {
  padding-top: 5em;
  padding-bottom: 5em;
}

// Backgrounds
.bg-black {
  background: #4a4a4a;
}
.bg-grey {
  background: #aeaeae;
}
.bg-blue {
  background: #00a3e1;
}
.bg-dark-blue {
  background: #3b5998;
}

#main-div {
  text-align: center;
}

ul, li {
  list-style:none;
  list-style-type: none;
  padding: 0;
}

h1 {
  color: #283C63;
  font-weight: lighter;
}

h2, h3, h4, h5, h6 {
  color: #283C63;
}

p, li {
  color: #283C63;
}

i {
  color: #F85F73;
}
